<h2 class="text-info">Create a new debt</h2>
<br/>
<div class="row-fluid">

	<div class="span8">
		<%= form_for @debt, :html => {:class => "form-horizontal"} do |m| %>
      <div class="control-group">
          <%= m.label :borrower, :class => "control-label" %>
        <div class="controls">
          <%= m.text_field :borrower, :placeholder => "Twitter of Facebook username" %>
        </div>
      </div>

      <div class="control-group">
          <%= m.label :amount, :class => "control-label" %>
        <div class="controls">
          <%= m.text_field :amount, :placeholder => "Amount" %>
        </div>
      </div>

      <div class="control-group">
          <%= m.label :provider, :class => "control-label" %>
        <div class="controls">
          <%= m.select :provider, options_for_select([['Facebook' ,'Facebook'], 
          ['Twitter', 'Twitter']]) %>
        </div>
      </div>

      <div class="control-group">
          <%= m.label :deadline_at, :class => "control-label" %>
        <div class="controls">
          <%= m.text_field :deadline_at, 'data-behaviour' => 'datepicker', :placeholder => "Due date"  %>
          <script type="text/javascript">
            $('[data-behaviour~=datepicker]').datepicker({"format":"mm-dd-yyyy"});
          </script>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= m.submit "Save", :class => "btn btn-success" %>
        </div>
      </div>


    <% end %>
	</div>

	<div class="span4">
		<a href='/debts'>
			<strong style="font-size:16px;">List debts</strong>
		</a>
	</div>
</div>